.container {
  flex: 1;
  width: calc(100% - (var(--card-margin) + var(--card-padding)) * 2);
  height: calc(100% - 4em);
  background-color: var(--secondary-background);
  margin: var(--card-margin);
  border-radius: 1em;
  padding: var(--card-padding);
}
