:root {
  --main-padding: 3em;
}

.container {
  display: flex;
  height: calc(100% - 2 * var(--main-padding));
  width: calc(100% - 2 * var(--main-padding));
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--main-padding);
  color: #fff;
}

.form {
  width : 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
