.container {
  display: flex;
  width: 100%;
  height: 13%;
  align-items: center;
  background-color: #161b22;
  box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.navbar {
  display: flex;
  width: 98%;
  justify-content: flex-start;
  height: 60%;
}

.menuButtonContainer {
  display: flex;
  width: 97%;
}

.menuButton {
  display: flex;
  width: 5%;
  height: 100%;
  color: #fff;
}

.menuButton :hover {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #9287873f;
}

.loginButton :hover {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #9287873f;
}

.loginContainer {
  display: flex;
  width: 5%;
  height: 100%;
  color: #fff;
}

.loginButton {
  width: 100%;
  height: 100%;
  display: flex;
}

.loginButtonText {
    width: 100%;
    height: 100%;
    line-height: 200%; /* Making the text centered */
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
