:root {
  --button-size: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  color: var(--button-color);
  user-select: none;
  width: 40px;
}

.container:hover {
  cursor: pointer;
  color: var(--active-color);
}

.title {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  transition: font-size 600ms;
}

.icon-container {
  background-color: var(--button-color);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.3em;
  box-shadow: 0 0 6px var(--primary-color);
}

.icon {
  height: 80%;
  width: 80%;
}

.icon > svg {
  width: 100%;
  height: 100%;
  fill: var(--primary-text-color);
  transition: 1s ease-in-out linear;
}

.container:hover .icon > svg {
  fill: var(--primary-color);
}

.container:hover .icon-container {
  background-color: var(--primary-text-color);
}
