@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

:root {
  --card-margin: 1.5em;
  --card-padding: 1em;
}

[data-theme="dark"] {
  --primary-background: #010409;
  --secondary-background: #0d1117;
  --active-background: #1a212c;
  --secondary-active-background: #19202b;
  --primary-text-color: #c9d1d9;
  --card-border: #30363d;
  --online-color: rgb(7, 107, 24);
  --offline-color: rgb(91, 88, 94);
  --in-chat-color: rgb(129, 6, 6);
  --button-color: #30363f;
}

html,
body,
#root {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-background);
  color: var(--primary-text-color);
}

.MuiIcon-root {
  fill: var(--primary-text-color);
  color: var(--primary-text-color);
}
