@font-face {
  font-family: "Assistant";
  src: url("./assets/fonts/Assistant-VariableFont_wght.ttf");
}

body,
html {
  margin: 0;
  font-family: "Assistant";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

:root {
}

[data-view="dark"] {
  --primary-color: #038373;
  --foreground-color: #16564e;
  --primary-text-color: #eeeeee;
  --alternative-color: #282828;
}
